# CSV в проекте
projekt1/*.csv

# Игнорировать JSON только в auth и в корне
auth/*.json
auth/composer.lock
*.json

# Игнорировать vendor (везде, на всякий случай)
auth/vendor/
vendor/

# (опционально) Исключить файлы среды
.idea/
node_modules/
.env
404.html
index.php